<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Softpro Blog</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />

    <style type="text/css">
          body {
            padding-top: 80px;
          }
          .post {
              padding-bottom: 20px;
          }
          .content a {
              text-decoration: underline;
          }
    </style>
    <script>
        document.createElement('header');
        document.createElement('footer');
        document.createElement('mark');
    </script> 
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>

</head>

<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">SoftPro</a>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
                <p class="pull-right">Logged in as <a href="#">boxfrommars</a></p>
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="content">
            {% block content %}
            <div class="page-header">
                <h1>{% block page_header %}SoftPro: <small></small>{% endblock %}</h1>
            </div>
            {% block page_content %} {{ content|raw }} {% endblock %}
            {% endblock %}
            <footer>
                <p>&copy; SoftPro 2011</p>
            </footer>
            </div>
        </div>
    </div>
	<!-- <footer>дизайн: надя гиммер</footer> -->
</body>

</html>
